
.footer-middle{
    background-color:#343a40 ;
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: white;
 
  }
  
  .footer-bottom{
    padding-top: 3rem;
    padding-bottom: 2rem; 
    text-align: center;
    color: white;
    background-color:#272829 ;
  }
  
  ul li a{
    color:rgba(109, 109, 109) ;
  }
  
  ul li a:hover{
    color:rgba(172, 172, 172) ;
  }


   .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255,255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
   .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
  }