.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form{
  width:100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.inscription-form{
  width:100%;
  max-width: 550px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.pages{
  margin: auto;
  text-align: center;
}
